<footer id="footer-users">
    <div class="container-fluid mt-5 footer">
        <div class="area-footer">
            <div class="row footer">
                <div class="col-md-12">
                    <h6 class="texto-footer">2021 connekt © All rights reserved </h6>
                    <img class="img-footer" src="/images/logos/puzzle-footer.png" alt="logo-connekt-footer">
                </div>  
            </div>
        </div>
    </div>    
</footer>