<body>
    <header>
      <div class="container" id="nav-container">
        <nav class="navbar navbar-expand-lg fixed-top">
          <div class="col-md-3">
            <a href="/main" class="navbar-brand rounded float-end">
              <img id="logo" src="/images/logos/logo-header.png" alt="logo-connekt">
            </a>
            <a href="/main" class="navbar-brand rounded float-end">
              <i class='bx bx-home-alt home-icon'></i>
            </a>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <div class="collapse navbar-collapse justify-content-left" id="navbar-links">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/main/config" id="form-login">estatísticas & configurações</a>
                <a class="nav-item nav-link" href="/main/leave" id="form-cadastro">sair</a>
              </div>
            </div>
          </div> 
        </nav>
      </div>
    </header>