<body>
  <header>
    <div class="container" id="nav-container">
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="col-md-3">
          <a href="/" class="navbar-brand rounded float-end">
            <img id="logo" src="/images/logos/logo-header.png" alt="logo-connekt">
          </a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-6">
          <div class="collapse navbar-collapse justify-content-left" id="navbar-links">
            <div class="navbar-nav">
              <a href="#"><button class="btn btn-sm config-button">Créditos</button></a>
              <a class="nav-item nav-link" href="/users/config" id="estatisticas">estatísticas & configurações</a>
              <a class="nav-item nav-link" href="/" id="sair">sair</a>
            </div>
          </div>
        </div>         
      </nav>
    </div>
  </header>
