<%- include('./partials/head') %>

<%- include('./partials/header-main') %>

<main>

  <div class="login">
    <div class="login-content">
      <div class="login-img">
        <img src="/images/create.svg" alt="publish" />
      </div>

      <div class="login-forms">

        <form action="" class="login-registre" id="login-in">
          <h1 class="login-title">Novo curso</h1>

          <div class="login-box">
            <i class="bx bx-user login-icon"></i>
            <input type="text" placeholder="Insira seu Nome " class="login-input"/>
          </div>

          <div class="login-box">
            <i class="bx bx-timer login-icon"></i>
            <input type="text" placeholder="Créditos " class="login-input" />
          </div>

          <div class="login-box">
            <i class="bx bx-text login-icon"></i>
            <input type="text" placeholder="Descrição" class="login-input"/>
          </div>

          <div class="button-signup">
            <a href="/oportunidadesDisponíveis"><span class="btn mt-3 login-button">Publicar</span></a>
          </div>

        </form>

      </div>
    </div>
  </div>

</main>

<%- include('./partials/footer.ejs') %>

</body>
</html>