<%- include('./partials/head') %>

<%- include('./partials/header') %>

  <main>
    <div class="container-fluid">
      <div class="area-principal">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <img src="/images/main-img.svg" alt="imagem-principal">
            </div>
            <div class="col-md-4 service-box">
              <br>
              <br>
              <h4 class="texto-explicativo">aprenda e compartilhe seus conhecimentos em tecnologias</h4>  <br>
              <h2 class="texto-explicativo">usando o tempo como moeda</h2><br><br>
              <h5 class="texto-explicativo">CODE & SHARE & LEARN</h5> 
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="area-btn">
            <h3>faça parte agora e receba créditos para iniciar</h3>
            <a href="/users/signUp"><button class="btn btn-primary mt-3">cadastrar</button></a>
          </div> 
        </div>  
      </div>
    </div>
  </main>

  <%- include('./partials/footer') %>

</body>
</html>
