<%- include('./partials/head') %>

<%- include('./partials/header-main') %>

  <main>

    <div class="main-content">

      <div class="main-box ">

        <section class="main-todo">
          <h1 class="main-title">aprender</h1>

          <div class="main-buttons">
              <a href="/main/learn/mine">
                <span class="btn mt-3 second-button">meus agendamentos</span>
              </a>
              <a href="/main/learn/new">
                <span class="btn mt-3 second-button">novo agendamento</span>
              </a>
          </div>      

        </section>

      </div>

      <div class="main-img">
        <img src="/images/teach.svg" alt="entrar" />
      </div>

    </div>

  </main>

  <%- include('./partials/footer-users') %>

  </body>
</html>


